In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import sklearn as skl

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

2023-05-14 09:19:41.860336: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2 AVX AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ['EIN'])
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
for x in application_df.columns:
    print(x, len(application_df[x].unique()))

NAME 19568
APPLICATION_TYPE 17
AFFILIATION 6
CLASSIFICATION 71
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 8747
IS_SUCCESSFUL 2

In [4]:
# Look at NAMES value counts for binning instead of Application Type
name_cts = application_df['NAME'].value_counts()
name_cts

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [5]:
names_to_replace = list(name_cts[name_cts<15].index)
names_to_replace

# Replace in dataframe
for app in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(app,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                      21751
PARENT BOOSTER USA INC                      1260
TOPS CLUB INC                                765
UNITED STATES BOWLING CONGRESS INC           700
WASHINGTON STATE UNIVERSITY                  492
                                           ...
CALIFORNIA FEDERATION OF WOMENS CLUBS         15
JAMESTOWNE SOCIETY                            15
THETA TAU                                     15
LAKE TRABIS ATHLETIC BOOSTER CLUB INC         15
INTERNATIONAL ASSOCIATION OF LIONS CLUB       15
Name: NAME, Length: 161, dtype: int64

In [6]:
#Look at CLASSIFICATION value counts for binning
class_cts = application_df['CLASSIFICATION'].value_counts()
class_cts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_value = class_cts[class_cts>1]
class_value

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

# Change from 100 to 1000 for optimization

classifications_to_replace = list(class_cts[class_cts<1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_ALPHA PHI SIGMA INC,NAME_ALTRUSA INTERNATIONAL FOUNDATION INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [10]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"]
X = application_df.drop(columns="IS_SUCCESSFUL")

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

# Decrease hidden nodes on each layer

number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 20
hidden_nodes_layer2 = 10
hidden_nodes_layer3 = 5

nn = tf.keras.models.Sequential()


# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)


# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 20)                4260

 dense_1 (Dense)             (None, 10)                210

 dense_2 (Dense)             (None, 1)                 11

=================================================================
Total params: 4,481
Trainable params: 4,481
Non-trainable params: 0
_________________________________________________________________

2023-05-14 09:20:14.958174: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2 AVX AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Train the model
from keras.callbacks import ModelCheckpoint
weights_filepath = 'model_weights.h5'
checkpoint_callback = ModelCheckpoint(
    weights_filepath,
    monitor='val_loss',  # Metric to monitor for saving the weights
    save_weights_only=True,  # Save only the weights, not the entire model
    save_best_only=False,  # Save weights for every 5th epoch
    save_freq=5  # Save weights every 5 epochs
)
fit_model = nn.fit(X_train_scaled, y_train, epochs=100, callbacks=[checkpoint_callback])

Epoch 1/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5120 - accuracy: 0.7512
Epoch 2/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4559 - accuracy: 0.7761
Epoch 3/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4511 - accuracy: 0.7790
Epoch 4/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4491 - accuracy: 0.7795
Epoch 5/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4477 - accuracy: 0.7813
Epoch 6/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4460 - accuracy: 0.7825
Epoch 7/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4450 - accuracy: 0.7820
Epoch 8/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4446 - accuracy: 0.7824
Epoch 9/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4439 - accuracy: 0.7837
Epoch 10/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4433 - accuracy: 0.7837
Epoch 11/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4427 - accuracy: 0.7835
Epoch 12/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4420 - accuracy: 0.7847
Epoch 13/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4416 - accuracy: 0.7852
Epoch 14/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4415 - accuracy: 0.7854
Epoch 15/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4410 - accuracy: 0.7842
Epoch 16/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4410 - accuracy: 0.7858
Epoch 17/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4405 - accuracy: 0.7853
Epoch 18/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4399 - accuracy: 0.7872
Epoch 19/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4399 - accuracy: 0.7872
Epoch 20/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4393 - accuracy: 0.7856
Epoch 21/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4395 - accuracy: 0.7859
Epoch 22/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4391 - accuracy: 0.7857
Epoch 23/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4387 - accuracy: 0.7865
Epoch 24/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4384 - accuracy: 0.7862
Epoch 25/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4385 - accuracy: 0.7873
Epoch 26/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4379 - accuracy: 0.7863
Epoch 27/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4377 - accuracy: 0.7876
Epoch 28/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4381 - accuracy: 0.7869
Epoch 29/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4373 - accuracy: 0.7879
Epoch 30/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4373 - accuracy: 0.7871
Epoch 31/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4366 - accuracy: 0.7880
Epoch 32/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4367 - accuracy: 0.7882
Epoch 33/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4366 - accuracy: 0.7882
Epoch 34/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4363 - accuracy: 0.7873
Epoch 35/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4363 - accuracy: 0.7881
Epoch 36/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4363 - accuracy: 0.7885
Epoch 37/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4355 - accuracy: 0.7892
Epoch 38/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4356 - accuracy: 0.7891
Epoch 39/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4355 - accuracy: 0.7890
Epoch 40/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4352 - accuracy: 0.7893
Epoch 41/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4351 - accuracy: 0.7893
Epoch 42/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4353 - accuracy: 0.7896
Epoch 43/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4350 - accuracy: 0.7893
Epoch 44/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4347 - accuracy: 0.7905
Epoch 45/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4347 - accuracy: 0.7886
Epoch 46/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4345 - accuracy: 0.7894
Epoch 47/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4347 - accuracy: 0.7890
Epoch 48/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4346 - accuracy: 0.7895
Epoch 49/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4342 - accuracy: 0.7898
Epoch 50/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4340 - accuracy: 0.7902
Epoch 51/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4344 - accuracy: 0.7899
Epoch 52/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4339 - accuracy: 0.7899
Epoch 53/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4337 - accuracy: 0.7892
Epoch 54/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4339 - accuracy: 0.7911
Epoch 55/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4336 - accuracy: 0.7897
Epoch 56/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4333 - accuracy: 0.7908
Epoch 57/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4330 - accuracy: 0.7895
Epoch 58/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4327 - accuracy: 0.7899
Epoch 59/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4327 - accuracy: 0.7901
Epoch 60/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4324 - accuracy: 0.7903
Epoch 61/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4324 - accuracy: 0.7905
Epoch 62/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4325 - accuracy: 0.7903
Epoch 63/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4322 - accuracy: 0.7901
Epoch 64/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4321 - accuracy: 0.7907
Epoch 65/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4321 - accuracy: 0.7904
Epoch 66/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4320 - accuracy: 0.7902
Epoch 67/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4319 - accuracy: 0.7904
Epoch 68/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4316 - accuracy: 0.7912
Epoch 69/100
804/804 [==============================] - 310s 386ms/step - loss: 0.4315 - accuracy: 0.7911
Epoch 70/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4315 - accuracy: 0.7911
Epoch 71/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4313 - accuracy: 0.7915
Epoch 72/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4315 - accuracy: 0.7900
Epoch 73/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4311 - accuracy: 0.7912
Epoch 74/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4310 - accuracy: 0.7901
Epoch 75/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4311 - accuracy: 0.7915
Epoch 76/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4312 - accuracy: 0.7918
Epoch 77/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4306 - accuracy: 0.7910
Epoch 78/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4309 - accuracy: 0.7916
Epoch 79/100
804/804 [==============================] - 413s 514ms/step - loss: 0.4307 - accuracy: 0.7909
Epoch 80/100
804/804 [==============================] - 8s 10ms/step - loss: 0.4308 - accuracy: 0.7908
Epoch 81/100

804/804 [==============================] - 4s 5ms/step - loss: 0.4306 - accuracy: 0.7913
Epoch 82/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4305 - accuracy: 0.7917
Epoch 83/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4304 - accuracy: 0.7907
Epoch 84/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4307 - accuracy: 0.7912
Epoch 85/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4299 - accuracy: 0.7916
Epoch 86/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4303 - accuracy: 0.7912
Epoch 87/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4303 - accuracy: 0.7913
Epoch 88/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4301 - accuracy: 0.7912
Epoch 89/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4300 - accuracy: 0.7910
Epoch 90/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4302 - accuracy: 0.7918
Epoch 91/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4299 - accuracy: 0.7916
Epoch 92/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4296 - accuracy: 0.7918
Epoch 93/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4300 - accuracy: 0.7918
Epoch 94/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4301 - accuracy: 0.7908
Epoch 95/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4296 - accuracy: 0.7911
Epoch 96/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4296 - accuracy: 0.7918
Epoch 97/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4296 - accuracy: 0.7914
Epoch 98/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4295 - accuracy: 0.7916
Epoch 99/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4298 - accuracy: 0.7916
Epoch 100/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4294 - accuracy: 0.7922

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4659 - accuracy: 0.7769 - 661ms/epoch - 2ms/step
Loss: 0.46592915058135986, Accuracy: 0.7769096493721008

In [16]:
# Export our model to HDF5 file

hdf5_file = "AlphabetSoupCharity_Optimization_2"
nn.save(hdf5_file)

INFO:tensorflow:Assets written to: AlphabetSoupCharity_Optimization_2/assets